@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------------------------------------
 Common Styles
------------------------------------------------------*/
:root {
  --primary-trans: rgba(103, 103, 103, 0.9);
  --primary-light: #e0e0e0;
  --primary-regular: #676767;
  --primary-accent: #eaeaea;
  --secondary-dark: #d1dadb;
  --secondary-light: #d4eaee;
  --secondary-regular: #49b3ba;
  --secondary-accent: #d9e6e7;
}

a {
  @apply decoration-0;
}
.bg-primary {
  background: url("../images/bg-main@2x.png"), var(--primary-light);
  background-repeat: repeat;
  background-size: contain;
  background-position: top;
}

.bg-secondary {
  background: url("../images/bg-sub@2x.png"), var(--secondary-dark);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.text-wrap {
  text-wrap: balance;
}

.section-container {
  @apply max-w-7xl mx-auto pt-8 md:pt-20 pb-8 md:pb-16 lg:pb-32 px-6;
}

.flex-wrapper {
  @apply flex flex-col items-center text-center space-y-2 md:space-y-6 pb-12;
}

/*------------------------------------------------------
 Components Styles
------------------------------------------------------*/
/* Nav Bottons */
.nav-btn:hover {
  background: var(--primary-light);
  box-shadow: -5px -5px 5px 0px #ebebeb inset, 5px 5px 5px 0px #d5d5d5 inset;
  @apply rounded-sm transition-all duration-300 ease-in-out;
}

/* Item Shadow  */
.item {
  background: var(--primary-light);
  box-shadow: -3px -3px 5px 0px #fdfdfd, 3px 3px 5px 0px #c3c3c3;
  @apply rounded-md transition-all duration-300 ease-in-out;
}

/* Item Hover Effect */
.item:hover {
  box-shadow: -3px -3px 5px 0px #fff inset, 3px 3px 5px 0px #b8b8b8 inset;
}

/* Item-g Shadow  */
.item-g {
  background: var(--secondary-dark);
  box-shadow: -3px -3px 5px 0px #f0fbfc, 3px 3px 5px 0px #b2b9ba;
  @apply rounded-md transition-all duration-300 ease-in-out;
}

/* Item-g Hover Effect */
.item-g:hover {
  box-shadow: -3px -3px 5px 0px #f7ffff inset, 3px 3px 5px 0px #abb3b4 inset;
}

/* Item Logo Round */
.rounded-logo {
  @apply w-16 h-16 rounded-full;
}

/* Item Logo Rectangle */
.rectangle-logo {
  @apply rounded-md px-6 py-4;
}
/* Item Logo Shadow */
.item-logo {
  fill: var(--primary-light);
  box-shadow: -5px -5px 12px 0px #fff inset, 5px 5px 12px 0px #bebebe inset;
}

/* Section Bar Shadow */
.bar {
  @apply w-full h-2 md:h-3;
  background: var(--primary-light);
  box-shadow: -5px -5px 5px 0px #fbfbfb inset, 5px 5px 5px 0px #c5c5c5 inset;
}

/* Section Title Shadow */
.section-title {
  color: var(--Primary-light);
  text-shadow: -3px -3px 3px 0px #fbfbfb inset, 3px 3px 3px 0px #c5c5c5 inset;
}

.text-secondary {
  color: var(--Secondary-dark);
  text-shadow: -1px -1px 3px 0px #fbfbfb inset, 1px 1px 3px 0px #c5c5c5 inset;
}

/*------------------------------------------------------
 Text Link Animations
------------------------------------------------------*/
.underline {
  @apply z-10 relative align-middle inline-block text-[--primary-light] transition-colors duration-100;
}

.underline:hover {
  @apply text-[--secondary-light];
}

.underline::before {
  content: "";
  transition: cubic-bezier(0.13, 0.78, 0.38, 0.98);
  @apply -z-10 absolute bottom-[5%] left-0 w-full h-[1px] -mb-1 bg-[--secondary-light] scale-x-0 origin-bottom-left duration-300;
}

.underline:hover::before {
  @apply scale-x-100 origin-top-left;
}

/*------------------------------------------------------
 Hamburger Menu
------------------------------------------------------*/
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.25s;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: var(--primary-regular);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  /* transform: rotate(90deg); */
}

/* Three Lines */
.open > .hamburger-top {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
.open > .hamburger-middle {
  display: none;
}
.open > .hamburger-bottom {
  transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

.js-text-color {
  @apply text-[--primary-light]
}
.js-bg-color {
  @apply  bg-[--primary-light]
}
