@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------------------------------------
 Common Styles
------------------------------------------------------*/
:root {
  --primary-trans: rgba(103, 103, 103, 0.9);
  --primary-light: #e0e0e0;
  --primary-dark: rgba(60, 60, 60, 0.9);
  --primary-regular: #676767;
  --primary-accent: #eaeaea;
  --secondary-dark: #d1dadb;
  --secondary-light: #d4eaee;
  --secondary-regular: #49b3ba;
  --secondary-accent: #d9e6e7;
}

.bg-primary {
  background: url("../images/bg-main@2x.png"), var(--primary-light);
  background-repeat: repeat;
  background-size: contain;
  background-position: top;
}

.bg-secondary {
  background: url("../images/bg-sub@2x.png"), var(--secondary-dark);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.text-wrap {
  text-wrap: balance;
}

.section-container {
  @apply max-w-7xl mx-auto pt-8 md:pt-20 pb-8 md:pb-16 lg:pb-32 px-6;
}

.flex-wrapper {
  @apply flex flex-col items-center text-center space-y-2 md:space-y-6 pb-12;
}

/*------------------------------------------------------
 Components Styles
------------------------------------------------------*/
/* Item Shadow  */
.item {
  background: var(--primary-light);
  box-shadow: -3px -3px 5px #fdfdfd, 3px 3px 5px #c3c3c3, inset -3px -3px 5px transparent, inset 3px 3px 5px transparent;
  @apply rounded-md duration-300 ease-in-out;
}

/* Item Hover Effect */
.item:hover {
  box-shadow: -3px -3px 5px transparent, 3px 3px 5px transparent, inset -3px -3px 5px #fff, inset 3px 3px 5px #b8b8b8;
}

/* Item-g Shadow  */
.item-g {
  background: var(--secondary-dark);
  box-shadow: -3px -3px 5px #f0fbfc, 3px 3px 5px #b2b9ba, inset -3px -3px 5px transparent, inset 3px 3px 5px transparent;
  @apply rounded-md duration-300 ease-in-out;
}

/* Item-g Hover Effect */
.item-g:hover {
  box-shadow: -3px -3px 5px transparent, 3px 3px 5px transparent, inset -3px -3px 5px #f7ffff, inset 3px 3px 5px #abb3b4;
}

/* Item Logo Shadow */
.item-logo {
  @apply h-9 mb-2;
}

/* Section Bar Shadow */
.bar {
  @apply w-full h-2 md:h-3;
  background: var(--primary-light);
  box-shadow: -5px -5px 5px 0px #fbfbfb inset, 5px 5px 5px 0px #c5c5c5 inset;
}

/* Section Title Shadow */
.section-title {
  color: var(--Primary-light);
  text-shadow: -3px -3px 3px 0px #fbfbfb inset, 3px 3px 3px 0px #c5c5c5 inset;
}

.text-secondary {
  color: var(--Secondary-dark);
  text-shadow: -1px -1px 3px 0px #fbfbfb inset, 1px 1px 3px 0px #c5c5c5 inset;
}

/* Back to top button */
.btn-top {
  background: var(--primary-light);
  /* box-shadow: -3px -3px 5px 0px #fdfdfd, 3px 3px 5px 0px #c3c3c3; */
  @apply hidden md:flex justify-center items-center w-14 h-14 lg:w-20 lg:h-20 fixed right-6 bottom-8 lg:right-28 lg:bottom-16 bg-[--primary-light] rounded-full duration-150 mix-blend-multiply opacity-0;
}

.btn-top:hover {
  box-shadow: -3px -3px 5px 0px #fff inset, 3px 3px 5px 0px #b8b8b8 inset;
}

.active {
  opacity: 1;
}

/*------------------------------------------------------
 Accordion Menu Animations
------------------------------------------------------*/
/* Nav Bottons */
.btn-nav {
  @apply py-2 lg:py-4 px-14 lg:px-14 relative hidden md:block cursor-pointer;
}
.btn-nav:hover,
.btn-nav:active {
  background: var(--primary-light);
  box-shadow: -5px -5px 5px transparent, 5px 5px 5px transparent, inset -5px -5px 5px #ebebeb, inset 5px 5px 5px #d5d5d5;
  @apply rounded-sm duration-300 ease-in-out;
}
/* Menu Item */
.menu-item {
  @apply block py-2 w-full text-sm lg:text-base font-light leading-3 hover:bg-[--primary-dark];
}

.menu {
  @apply absolute invisible top-[42px] lg:top-[55px] left-0 flex flex-wrap justify-start w-full;
}

/* Accordion Menu */
.btn-nav:hover .menu {
  visibility: visible;
}

/*------------------------------------------------------
 Text Link Animations
------------------------------------------------------*/
.underline {
  @apply z-10 relative align-middle inline-block text-[--primary-light] leading-6 no-underline transition-colors duration-100;
}

.underline:hover {
  @apply text-[--secondary-light];
}

.underline::before {
  content: "";
  transition: cubic-bezier(0.13, 0.78, 0.38, 0.98);
  @apply -z-10 absolute bottom-[5%] left-0 w-full h-[1px] -mb-1 bg-[--secondary-light] scale-x-0 origin-bottom-left duration-300;
}

.underline:hover::before {
  @apply scale-x-100 origin-top-left;
}

/*------------------------------------------------------
 Hamburger Menu
------------------------------------------------------*/
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.25s;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: var(--primary-regular);
  /* transform: rotate(0); */
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  /* transform: rotate(90deg); */
}

/* Three Lines */
.open > .hamburger-top {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
.open > .hamburger-middle {
  display: none;
}
.open > .hamburger-bottom {
  transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

.js-text-color {
  @apply text-[--primary-light];
}
.js-bg-color {
  @apply bg-[--primary-light];
}

/*------------------------------------------------------
 Header Scroll Animation
------------------------------------------------------*/
.js-header-hide {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.js-header-show{
  animation: DownAnime 0.5s forwards;
}


